*{
    box-sizing: border-box;
}
body{
    background-image: url("../imgs/1251.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
div{

}
.block{
    width: 840px;
    height: 875px;
    background-color: #f2f2f2;
    box-shadow: 0 0 7px #aaaaaa;
    margin-right: auto;
    margin-left: auto;
    padding-top: 14px;
}
#title{
    width: 672px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    box-shadow: 0 0 7px #aaaaaa;
}
span{
    font-size: 14px;
    font-weight: 900;
}
.block1{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 175px;
    height: 350px;
    box-shadow: 0 0 7px #aaaaaa;
    margin: 35px 14px;
    float: left;
    position: relative;
}
.block2{
    width: 175px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
}
.block3{
    width: 175px;
    height: 98px;
    text-align: center;
    line-height: 1.25;
    box-sizing: border-box;
}
.block4{
    background-color: #232323;
    color: white;
    float: bottom;
    text-align: center;
    width: 175px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 315px;
    font-weight: 600;
    letter-spacing: 1px;
}
.p1{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 14px;
}
.p2{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}
.p3{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 14px;
}
.num1{
    background-image: url("../imgs/pic1.png");
}
.num2{
    background-image: url("../imgs/pic2.jpg");
}
.num3{
    background-image: url("../imgs/pic9.jpg");
}
.num4{
    background-image: url("../imgs/pic8.jpg");
}
.num5{
    background-image: url("../imgs/pic6.jpg");
}
.num6{
    background-image: url("../imgs/pic3.jpg");
}
.num7{
    background-image: url("../imgs/pic4.jpg");
}
.num8{
    background-image: url("../imgs/pic7.jpg");
}
.block1:hover{
    transform: translate(0px,-5px);
}